name: multibuild
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build-electron-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: cp -r ionic-adapter/* node_modules/@ptkdev/sveltekit-cordova-adapter
      - run: cp -r electron-adapter/* node_modules/@ptkdev/sveltekit-electron-adapter
      - run: npm install
      - run: npm run build
      - run: sudo apt-get install flatpak flatpak-builder elfutils
      - run: sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      - run: sudo flatpak install flathub org.freedesktop.Platform//21.08 org.freedesktop.Sdk//21.08 -y
      - run: sudo flatpak install flathub org.freedesktop.Platform/x86_64/19.08 org.freedesktop.Sdk/x86_64/19.08 org.electronjs.Electron2.BaseApp/x86_64/stable -y
      - run: git config --global --add protocol.file.allow always
      - run: cd electron && npm install && npm run make
      - name: Archive production artifacts deb
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x64-deb
          path: electron/out/make/deb/x64
      - name: Archive production artifacts rpm
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x64-rpm
          path: electron/out/make/rpm/x64
      - name: Archive production artifacts flatpak
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x86_64-flatpak
          path: electron/out/make/flatpak/x86_64
  build-electron-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: cp -r ionic-adapter/* node_modules/@ptkdev/sveltekit-cordova-adapter
      - run: cp -r electron-adapter/* node_modules/@ptkdev/sveltekit-electron-adapter
      - run: npm install
      - run: npm run build
      - run: cd electron && npm install && npm run make
      - name: Archive production artifacts zip
        uses: actions/upload-artifact@v3
        with:
          name: electron-mac-x64-zip
          path: electron/out/make/*
  build-electron-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      # - run: rm -rf node_modules/@ptkdev/sveltekit-cordova-adapter
      # - run: rm -rf node_modules/@ptkdev/sveltekit-electron-adapter
      - run: cp -r -Force ionic-adapter/* node_modules/@ptkdev/sveltekit-cordova-adapter
      - run: cp -r -Force electron-adapter/* node_modules/@ptkdev/sveltekit-electron-adapter
      - run: npm install
      - run: npm run build
      - run: cd electron && npm install && npm run make
      - name: Archive production artifacts exe
        uses: actions/upload-artifact@v3
        with:
          name: electron-win-x64-exe
          path: electron/out/make/*
  build-ionic-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: npm install
      - run: cp -r ionic-adapter/* node_modules/@ptkdev/sveltekit-cordova-adapter
      - run: cp -r electron-adapter/* node_modules/@ptkdev/sveltekit-electron-adapter
      - run: npm run build
      - run: cd ionic && npm install
      - run: cd ionic && npx cap sync
      - uses: sparkfabrik/android-build-action@v1.3.4
        with:
          project-path: ionic/android
          output-path: sveltekit-multibuild.apk
      - name: Archive production artifacts apk
        uses: actions/upload-artifact@v3
        with:
          name: ionic-android-arm-apk
          path: sveltekit-multibuild.apk
  build-ionic-ipa:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Decrypt large secret
        run: ./.github/decrypt_secret.sh
        env:
          GPG_DECRYPTION_KEY: ${{ secrets.GPG_DECRYPTION_KEY }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: cp -r ionic-adapter/* node_modules/@ptkdev/sveltekit-cordova-adapter
      - run: cp -r electron-adapter/* node_modules/@ptkdev/sveltekit-electron-adapter
      - run: npm run build
      - run: cd ionic && npm install
      - run: cd ionic && npx cap sync
      - run: ls -lah
      - uses: yukiarrr/ios-build-action@v1.11.0
        with:
          project-path: ionic/ios/App/App.xcodeproj
          workspace-path: ionic/ios/App/App.xcworkspace
          output-path: sveltekit-multibuild.ipa
          export-method: 'ad-hoc'
          configuration: Debug
          team-id: ${{ secrets.TEAM_ID }}
          code-signing-identity: 'iOS Distribution'
          p12-path: ios_distribution.p12
          mobileprovision-path: SvelteKit_Multibuild_Provision.mobileprovisi
          certificate-password: ${{ secrets.GPG_DECRYPTION_KEY }}
      - run: ls -lah
      - name: Archive production artifacts ipa
        uses: actions/upload-artifact@v3
        with:
          name: ionic-iOS-arm-ipa
          path: sveltekit-multibuild.ipa

  build-extention-crx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt-get install gnupg2
      - name: Decrypt large secret
        run: ./.github/decrypt_secret.sh
        env:
          GPG_DECRYPTION_KEY: ${{ secrets.GPG_DECRYPTION_KEY }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - uses: browser-actions/setup-chrome@v1
      - run: npm install
      - run: cp -r ionic-adapter/* node_modules/@ptkdev/sveltekit-cordova-adapter
      - run: cp -r electron-adapter/* node_modules/@ptkdev/sveltekit-electron-adapter
      - run: npm run build
      - run: npm install
      - run: which chrome
      - run: ls -lah
      - run: chrome --pack-extension=./browser-extension --pack-extension-key=./browser-extension.pem
      - run: ls -lah
      - name: Archive production artifacts crx
        uses: actions/upload-artifact@v3
        with:
          name: extension-chrome-crx
          path: browser-extension.crx
      - name: Archine production artifacts zip
        uses: actions/upload-artifact@v3
        with:
          name: extension-chrome-zip
          path: browser-extension/*/*
