name: multibuild
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build-electron-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      - run: cd electron && npm run make
      - run: ls -Rlah electronApp/out/make
      - run: sudo apt-get install flatpak flatpak-builder elfutils
      - name: Archive production artifacts deb
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x64-deb
          path: electron/out/make/deb/*
      - name: Archive production artifacts rpm
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x64-rpm
          path: electron/out/make/rpm/*
  build-electron-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      - run: cd electron && npm run make
      - name: Archive production artifacts zip
        uses: actions/upload-artifact@v3
        with:
          name: electron-mac-x64-zip
          path: electron/out/make/*
  build-electron-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      - run: cd electron && npm run make
      - name: Archive production artifacts exe
        uses: actions/upload-artifact@v3
        with:
          name: electron-win-x64-exe
          path: electron/out/make/*
