name: multibuild
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build-electron-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      - run: sudo apt-get install flatpak flatpak-builder elfutils
      - run: sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      - run: sudo flatpak install flathub org.freedesktop.Platform//21.08 org.freedesktop.Sdk//21.08 -y
      - run: sudo flatpak install flathub org.freedesktop.Platform/x86_64/19.08 org.freedesktop.Sdk/x86_64/19.08 org.electronjs.Electron2.BaseApp/x86_64/stable -y
      - run: git config --global --add protocol.file.allow always
      - run: cd electron && npm install && npm run make
      - run: ls -Rlah electron
      - name: Archive production artifacts deb
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x64-deb
          path: electron/out/make/deb/x64
      - name: Archive production artifacts rpm
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x64-rpm
          path: electron/out/make/rpm/x64
      - name: Archive production artifacts flatpak
        uses: actions/upload-artifact@v3
        with:
          name: electron-linux-x86_64-flatpak
          path: electron/out/make/flatpak/x86_64
  build-electron-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      - run: cd electron && npm install && npm run make
      - name: Archive production artifacts zip
        uses: actions/upload-artifact@v3
        with:
          name: electron-mac-x64-zip
          path: electron/out/make/*
  build-electron-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run build
      - run: cd electron && npm install && npm run make
      - name: Archive production artifacts exe
        uses: actions/upload-artifact@v3
        with:
          name: electron-win-x64-exe
          path: electron/out/make/*
  build-ionic-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: npm install
      - run: npm run build
      - run: cd ionic && npm install
      - run: cd ionic && npx cap sync
      - uses: sparkfabrik/android-build-action@v1.3.4
        with:
          project-path: ionic/android
          output-path: sveltekit-multibuild.apk
      - run: ls -lah
      - name: Archive production artifacts apk
        uses: actions/upload-artifact@v3
        with:
          name: ionic-linux-mobile-apk
          path: sveltekit-multibuild.apk
